python version == Python 3.11.2,
flask version == Flask 2.3.2,
WSGI version == Werkzeug 2.3.4,
pandas version == pandas 2.0.1,
numpy version == numpy 1.24.3,
sklearn version == sklearn 0.0.post5,
scikit-learn version == scikit-learn 1.2.2,
matplotlib version == matplotlib 3.7.1,
seaborn version == seaborn 0.12.2,
